<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>307465022120-46pcm412pgtbhkl8o4pb7e568daehu8a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.307465022120-46pcm412pgtbhkl8o4pb7e568daehu8a</string>
	<key>API_KEY</key>
	<string>AIzaSyARUa3gSIxzYdSDaEo-Cx0G07BjH3PP8qw</string>
	<key>GCM_SENDER_ID</key>
	<string>307465022120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prokaryotech.aid.ios</string>
	<key>PROJECT_ID</key>
	<string>ai-development-a93cb</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-development-a93cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307465022120:ios:cf325fad26ddc62a5cb09d</string>
	<key>DATABASE_URL</key>
	<string>https://ai-development-a93cb-default-rtdb.firebaseio.com</string>
</dict>
</plist>